


<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Cache-Control" content="no-transform "> 
<meta charset="UTF-8">
 <title>e场景活动</title>
<link href="/css/common/swiper3.07.min.css" rel="stylesheet">  
<link href="/css/common/mui.min.css" rel="stylesheet">  
<link href="/css/common/base.css" rel="stylesheet">
<link href="/css/common/style.css?v=5" rel="stylesheet">
<link href="/css/pages/launched_campaign.css" rel="stylesheet"/>
<link href="//at.alicdn.com/t/font_1477531881_361757.css" rel="stylesheet">
<link href="/css/common/font-awesome.css" rel="stylesheet">
<script src="/js/common/mui.min.js"></script>
<script src="/js/common/mui.zoom.js"></script>
<script src="/js/common/mui.previewimage.js"></script>
<script src="/js/common/mui.picker.min.js"></script>
</head>
<body ng-controller="mode_Controller"> 
<div class="bg_loading">
 <p><img src="/img/system_loading.gif">&nbsp;<span>请求正在处理，请稍等</span></p>
</div>
      <header class="header_mml pr pt10 pm10 cf cen ">
           <a class="f_i retreat_icon j-backBtn" back></a>
      	 <a class="cf fz16 ds_poiu_a" ng-href="/html/common/common.html" >
     			  {{city_name}}
        		 <i class="f_i index_select"></i>
    		 </a>
            <i class="f_i logo_icon"></i>
            <img class="icon-search j-navIcon" src="/img/icon-search.png" ui-sref="search" alt="搜索图标" style="display: none;">
            <img class="icon-search icon-subscribe j-navIcon" src="/img/index/icon-subscribe.png" ng-click="mySignin('subscribe')" alt="订阅图标" style="display: none;">
            <i class="f_i  side_menu_icon j-navSideIcon" ng-click="mode.the_menu()"></i>
            <span class="fz14 fr mr10 j-navUserIcon" style="display:none;" ng-click="mySignin('subscribe')">订阅</span>
          
          <section class="filiuyt_o" ng-click="mode.the_menu()">
          
          </section>
     <ul class="bgff yj4 menu_pup">
        <li class="pr" ui-sref="index">
        <i class="f_i joiuyr_icon_a"></i> 
            <a>首页</a></li>
          <!-- 暂时屏蔽赞助和白条 -->
          <!-- <li ui-sref="sponsor_list"><a>赞助</a></li> -->
          <!-- /暂时屏蔽赞助和白条 -->
          <li ui-sref="ticket_user"><a>票券</a></li>
          <li ui-sref="personal_center"><a>我的</a></li>
          <li ui-sref="activity_user({type: 2})"><a>发起的</a></li>
          <li ui-sref="activity_user({type: 1})"><a>参与的</a></li>
          <li data-href="/html/page/attention.html"><a>关注e场景</a></li>
          <li onclick="down_app()"><a>下载app</a></li> 
          <!-- 暂时屏蔽赞助和白条 -->
          <!-- <li ui-sref="activity_loan"><a>活动白条</a></li> -->
          <!-- /暂时屏蔽赞助和白条 -->
     </ul>
     
</header>
  <section  data-ui-view>
  
  </section>
  <i class="fa fa-arrow-circle-o-up return_top ls mui-hidden" retup></i>
 <section id="form_success" class="sys-loading">
	<p><img src="/img/system_loading.gif">&nbsp;<span>请求正在处理，请稍等</span></p>
</section>

<footer class="mml_bottom box cen pm5 gd" id="mml_bottom">
		<a class="zc fz14 box_a " ui-sref="index"> <i
			class="f_i discover_icon"></i><br> 发现

		</a> <a class="zc fz14 box_a " ui-sref="demand_list"> <i
			class="f_i sponsor_icon"></i><br> 活动号
		</a> <a ng-click="isLogin('promotional_act')"> <i class="f_i add_icon"></i> 
		</a> <a class="zc fz14 box_a " ui-sref="ticket_user"> <i
			class="f_i vouchers_icon"></i><br> 票券

		</a> <a class="zc fz14 box_a" ui-sref="personal_center"> <i
			class="f_i mine_icon"></i><br> 我的

		</a>
	</footer>
     <script src="/js/common/jquery-1.11.3.min.js"></script> 
     <script src="/js/common/webuploader.min.js"></script>
     <script src="/js/common/jweixin-1.0.0.js"></script>
     <script src="/js/common/require.js"  data-main="/js/main" ></script>   
     <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=KIpwmISmRtIMMssrIQ4NF9ji"></script>
</body>
</html>