<!-- 活动详情 -->
<meta charset="UTF-8">
<section ng-controller="activity_detail_c" class="activity_detail_c">
<section class="particulars_none">
<section class="banner_top_a act_banner_top_a ">
	    <section class="swiper-container banner_top_b banner_top_b_banner" >
	    
	      <section class="swiper-wrapper"   >
	        <section class="swiper-slide" ng-repeat="ban in detail.detail_date.images_po">
	           <a>
	                  <img ng-src="{{ban}}">
	           </a>
	          </section>
	        
	      </section>
	      <section class="swiper-pagination"></section>
	    </section>
</section>

<section class="bgff pd pt10 pm10">
<p ng-bind="detail.detail_date.title" class="act_title_a fz16 zd">  
</p>
<!-- <h6 class="mt10" >
<span ng-bind="'浏览 '+detail.detail_date.browse_count+'次'"></span>
 <span class="ml10" ng-bind="'参与 '+detail.detail_date.consumption_count+'人'"> </span></h6> -->
</section>
<!-- 暂时屏蔽掉 by scott  -->
<!-- <section class="box bgff cen mt10 fz14 pt20 pm10 btm">
	 <section class="box_a">
	 	  <span class="{{detail.detail_date.sp_cl}}" ng-bind="detail.detail_date.target_amount+'元'"></span><br />
	 	     目标金额
	 </section>
	  <section class="box_a ">
	 	  <span class="{{detail.detail_date.sp_cl}}" ng-bind="detail.detail_date.now_money+'元'"></span><br />
	 	    已筹金额
	 </section>
	  <section class="box_a ">
	      <span class="{{detail.detail_date.sp_cl}}" ng-bind="detail.detail_date.ratio" > 
	            
	      </span><br/>
	 	    赞助进度
	 </section>
</section> -->
<!-- 暂时屏蔽掉 by scott  -->
<!-- <section class="cen pt10 bgff pm20">
	<button type="button" class="mui-btn  bghs  cf {{detail.detail_date.sp_bg}}"  ng-click="detail.sp_date(detail.detail_date.support_id)">
		我要赞助
	</button>
	<h6 class="mt10" ng-if="detail.detail_date.support_id==0">主办方没有发起活动赞助哦！</h6>
</section>  -->
<ul class="mui-table-view ">
        <li class="mui-table-view-cell">
              <span class="act_title">所属行业：</span>
              <p class="ov" ng-bind="industry">
                
              </p>
        </li>
          
        
            <li class="mui-table-view-cell">
              <span class="act_title">开始时间：</span>
              <p class="ov" ng-bind="detail.detail_date.startDate">
              </p>
        </li>
            <li class="mui-table-view-cell">
              <span class="act_title">结束时间：</span>
              <p class="ov" ng-bind="detail.detail_date.endDate">
              </p>
        </li>
         <li class="mui-table-view-cell pr" data-href="http://map.baidu.com/mobile/webapp/search/search/qt=s&wd={{detail.detail_date.address}}">
              <span class="act_title">活动地址：</span>
              <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9" ng-bind="detail.detail_date.address">
                    
              </p>
               <span class="mui-icon mui-icon-map ls map_icon_a"></span>
        </li>
            <li class="mui-table-view-cell">
              <span class="act_title">活动席位：</span>
              <p class="ov"  ng-bind="detail.detail_date.person_limit" >
                
              </p>
        </li>
    </ul>


<section class="pt10 pm10 bgff mt10 bbm btm pr pd" ng-click="detail.activities_oi()">
	<p class="mui-col-xs-11 dian hs">活动签到</p>
	<span class="mui-icon mui-icon-arrowright right_icon zc"></span>
</section>

<section class="pt10 pm10 bgff  bbm  pr pd" data-href="http://e.eqxiu.com/s/Wjhdewta?eqrcode=1&from=timeline&isappinstalled=0">
    <p class="mui-col-xs-11 dian hs">活动公益</p>
    <span class="mui-icon mui-icon-arrowright right_icon zc"></span>
</section>
<!-- 暂时屏蔽白条 -->
<!-- <section class="pt10 pm10 bgff  bbm  pr pd"  ui-sref="activity_loan">
    <p class="mui-col-xs-11 dian hs">活动白条
    <span class="fr zc">让活动更容易</span>
    </p>
    <span class="mui-icon mui-icon-arrowright right_icon zc"></span>
</section> -->
<!-- /暂时屏蔽白条 -->

</section>
<section class="particulars_show">
<!--主办方未认证的状态  -->
<section class="pt10 pm10 bgff  bbm  pr pd" ng-if="detail.detail_date.sponsor_auth==0">
    <section class=" dian" >  
        <img ng-src="{{detail.detail_date.sponsor_head}}" class="sponsor_act_icon fl"/>
        <section class="ov  pl20" style="padding-top: 15px;">
        <a class="fr fz14 yj4 contract_de" ng-href="tel:{{detail.detail_date.contact_way}}">联系TA</a>
            <p class="ls dian mui-col-xs-8 gray" ng-bind="detail.detail_date.sponsor_name"></p>
            
        </section>
    </section>
    
</section>
<!--主办方未认证的状态  -->
<!--主办方已认证的状态  -->
<section class="pt10 pm10 bgff  bbm  pr pd" ng-if="detail.detail_date.sponsor_auth==1"  >
    <section class="mui-col-xs-11" ui-sref="personal_host({sponsor_user_id:detail.detail_date.sponsor_user_id})">  
        <img ng-src="{{detail.detail_date.sponsor_head}}" class="sponsor_act_icon fl"/>
        <section class="ov  pl20">
            <p class="ls dian mui-col-xs-8" ng-bind="detail.detail_date.sponsor_name"></p>
            <p class="dianer" ng-bind="detail.detail_date.sponsor_intro" ></p>
        </section>
    </section>
    <section class="box mt10">
    	<p class="box_a yj4 contract_de2" ng-class="detail.detail_date.bgclass">
    		<a  id="user_attention" ng-click="detail.collection()" >
    		<span ng-bind="detail.detail_date.collect" ></span>
    		</a>
    	</p>
    	<p class="box_a yj4 contract_de2 ml5">
    		<a ng-href="tel:{{detail.detail_date.contact_way}}">联系TA</a>
    	</p>  
    </section>
    <span class="mui-icon mui-icon-arrowright right_icon zc right_icon_p"></span>
</section>
<!--主办方已认证的状态  -->
</section>

<section class="particulars_none">
<section class="pd bgff pt10 mt10  pm10 honored_guest">
   <h4 class="pm5 fz14">活动嘉宾</h4>
   <section class=" bgff  pr btm pm5 pt5 "  ng-repeat="gu in detail.detail_date.honored_guest" >
       <section class="mui-col-xs-11 dian ">
           <img ng-src="{{gu.honored_guest_icon_b}}" class="sponsor_act_icon fl"/>
           <p class="ov  pl20 dian mt5">
               <span class="zd" ng-bind="gu.honored_guest_name_b"></span><br />
               <span ng-bind="gu.honored_guest_position_b"></span>
              
           </p>
       </section> 
   </section>

<p class="btm pt20" ng-if="detail.detail_date.honored_guest==null">
	暂无活动嘉宾。
</p>
   
</section>

<section class=" bgff pt10 pm10 mt10 cen bbm btm act_tble_a pr">
	<p class="zd act_poi"  ui-sref=".activity_deta_date" >
		活动详情
	</p>
	<p class="zd" ui-sref=".registration_number">
		报名人数{{detail.detail_date.con_iu}}
	</p>
	<p class="zd br0" ui-sref=".activity_message">
		活动留言
	</p>
	<p class="qc"></p>
	<p class="progress_of gd"> 
	</p>
</section>
<p id="tracing_point"></p>
<section ui-view=""  class="ov">
    <section class="pd pt10 pm10 bgff fz14" ng-bind-html="detail.detail_date.details|to_trusted:''" id="detail_date_o">

	</section>
</section>

<!-- 我要打赏 -->
<section class="tc bgff mt10 pt10 pm10" ng-if="rewardShow==true">
  <button class="mui-btn mui-btn-green mainBtn" ui-sref="activity_reward({id: id})" >我要打赏</button>
  <p class="mt10 text-normal">{{totalPerson}}人打赏&#12288;<a ui-sref="activity_reward_detail({id:id})" class="green">查看他们打赏了多少？</a></p>
</section>
<!-- /我要打赏 -->

<!--签到机申请-->
<section class="pt10 pm10 bgff mt10  bbm  pr pd"  ui-sref="activity_machine_apply">
    <p class="mui-col-xs-11 dian hs">活动签到机申请
    <span class="fr zc">e云屏活动签到</span>
    </p>
    <span class="mui-icon mui-icon-arrowright right_icon zc"></span>
</section>
<!--签到机申请-->

<section ng-include="'/html/activity/activity_hot.html?v=15'"></section>




<section class="act_bottom box cen bgff ">
	 <a class="box_a zc fz14 pt0" ng-href="#share_pp"> 
	 	<span class="mui-icon mui-icon-redo "></span><br />
	 	分享
	 </a>
	  <a class="box_a zc fz14 mui-col-xs-4 mui-btn mui-btn-success bot_poiy_a fz18  {{detail.detail_date.reg_clas}}"  
	  ng-click="detail.sign_up_p(detail.detail_date.is_free,detail.detail_date.registration.code)"  
	  ng-bind="detail.detail_date.registration.msg">
	  </a> 
       <a class="box_a zc fz14 pt0 collection_p {{detail.detail_date.act_cl}}" ng-click="detail.collection()" >
	 		<span class="mui-icon mui-icon-star "></span><br />
	 	收藏
	 </a>
	 
</section>
    <section id="share_pp" class="mui-popover mui-popover-bottom mui-popover-action " style="z-index:9999">
        <section class="modal-content clearfix bgff">
            <section class="modal-header text-center pb0" >分享给好友</div>
            <section class="modal-body mt20">
                <section class="share-row clearfix box">
                     <a  id="qrcode" class="box_a"><i class="icon icon-qrcode"></i>二维码</a>
                     <a class="box_a" ng-click="sharep_a.Qzone()"><i class="icon icon-qqzone"></i>QQ空间</a> 
                     <a class="box_a" ng-click="sharep_a.qqweibo()"><i class="icon icon-qqweibo"></i>腾讯微博</a> 
                     <a class="box_a" ng-click="sharep_a.qq()"><i class="icon icon-qq"></i>QQ好友</a>
                </section>
            </section>
            <section class="modal-footer">
                <a class="mui-btn resu_poi_s" ng-href="#share_pp">取消</a>
                
            </section> 
        </section>
    </section>
    </section>
    
    
    
    
<section class="pup_soou_p gd">
 	<div class="scan_body_a">
  			 <div class="sign_in_icon_top">
     				 <h4 class="title_pou ls cen  mt90 pd" ng-bind="detail.detail_date.title"></h4>
   			</div>
  		   <section class="code mt40 act_qc_im">
  		   
  		   </section>
     		<p class="cen qc_poiuy_a ls fz16 mt30">扫二维码签到</p>
         
   		</div>
   	
</section>

<img src="/img/seeding_p.png" class="streaming_poo" ng-class="detail.detail_date.live_status" ui-sref="activity_streaming.activity_reward_detail({ac_id:id_a,count:detail.detail_date.browse_count,id: id_a})">
</section>
</section>

