<!-- 个人中心主办方发起的活动 -->
<meta charset="UTF-8">
<section>
           <ul style="background:#EFEFF4">  
             <li  class="mb10" ng-repeat="y in perList" ui-sref="activity_detail({id:y.id})">
                         <section class="pd  bgff  pt10 pm10">
              <img ng-src="{{y.activity_first_face}}" class="fl act_user_a">
               <section class="ov pl10 zc fz14">
                   <p class="dianer zd b tile_poiu_a" ng-bind="y.activity_title"></p>
                    
                <p class="fz12 dian">
                <i  class="f_i map_icon"></i><span ng-bind="y.activity_address"></span><span class="fr" ng-if="y.person_limit==0">不限名额</span>
                <span class="fr" ng-if="y.person_limit>0">限{{y.person_limit}}名</span>
                </p>
                   
                   <section class="fz12 dian zc">
                <p class="fl"><i class="f_i time_icon"></i><span ng-bind="y.activity_time"></span> </p>
                  <a class="fr" ng-if="y.is_free!=1">免费</a>
                       <span class="fr hs" ng-if="y.is_free==1">收费</span>
                  <p class="qc"></p>
                </section>
               
                
               </section>
               <p class="qc"></p>
           </section>
           <!-- 暂时屏蔽赞助 -->
           <!--  <section class="box btm pt5 pm5 fz12 cen zc schedule_p bgff pd">
                   <section class="box_a tl" ng-class="x.skjhg_s">
                      <i class="f_i zmkjf_a" ></i>目标金额{{y.target_money}}元
                   </section>
                    <section class="box_a" ng-class="list.skjhg_s">
                     <i class="f_i zmkjf_b"></i>已筹{{y.now_money}}元
                   </section>
                    <section class="box_a tr" ng-class="list.skjhg_s">
                     <i class="f_i zmkjf_c"></i>进度{{y.schedule}}
                   </section>
                </section> -->

            <!-- /暂时屏蔽赞助 -->
                
                    </li>
        </ul>
    
    </section> 
    <!--查看过期活动-->
	<section>
		
		<ul style="background:#EFEFF4">  
             <li  class="mb10" ng-repeat="y in overDateList" ui-sref="activity_detail({id:y.id})">
                         <section class="pd  bgff  pt10 pm10">
              <img ng-src="{{y.activity_first_face}}" class="fl act_user_a">
               <section class="ov pl10 zc fz14">
                   <p class="dianer zd b tile_poiu_a" ng-bind="y.activity_title"></p>
                    
                <p class="fz12 dian">
                <i  class="f_i map_icon"></i><span ng-bind="y.activity_address"></span><span class="fr" ng-if="y.person_limit==0">不限名额</span>
                <span class="fr" ng-if="y.person_limit>0">限{{y.person_limit}}名</span>
                </p>
                   
                   <section class="fz12 dian zc">
                <p class="fl"><i class="f_i time_icon"></i><span ng-bind="y.activity_time"></span> </p>
                  <a class="fr" ng-if="y.is_free!=1">免费</a>
                       <span class="fr hs" ng-if="y.is_free==1">收费</span>
                  <p class="qc"></p>
                </section>
               
                
               </section>
               <p class="qc"></p>
           </section>
           <!-- 暂时屏蔽赞助 -->
            <!-- <section class="box btm pt5 pm5 fz12 cen zc schedule_p bgff pd">
                   <section class="box_a  tl" ng-class="x.skjhg_s">
                      <i class="f_i zmkjf_a" ></i>目标金额{{y.target_money}}元
                   </section>
                    <section class="box_a" ng-class="list.skjhg_s">
                     <i class="f_i zmkjf_b"></i>已筹{{y.now_money}}元
                   </section>
                    <section class="box_a tr" ng-class="list.skjhg_s">
                     <i class="f_i zmkjf_c"></i>进度{{y.schedule}}
                   </section>
                </section> -->
            <!-- /暂时屏蔽赞助 -->
                
                    </li>
        </ul>
        <p class="bgff green cen" ng-click="checkoverdue()" style="line-height:30px;">
			查看过期活动
		</p>
		
	</section>
	

	
     
