<!-- 个人中心 -->
<meta charset="UTF-8">
<section>
     <section class="user_top bgff  mt20 pt10 pm10 pd pr btm bbm"  ui-sref="userInfo">
        <img class="fl user_icon_p yj4" ng-src="{{pe_er.user_icon_o.user_icon}}" >
         <section class="ov pl10">
            <p class="fz16 zd" ng-bind="pe_er.user_icon_o.user_name"></p>
             <p class="dianer m0" ng-bind=" pe_er.user_icon_o.Individuality_signaturedata">
             </p>
         </section>
         <i class="f_i right_arrow"></i>
       <section class="qc"></section>
    </section>
    
    <section class="mt10 btm bbm pt10 pm10 bgff box cen mobey_icon">
        <a class="box_a zc fz14" ui-sref="wallet">
          <i class="f_i mober_a"></i><br>
            钱包
            
        </a>
          <a class="box_a zc fz14" ui-sref="feedback">
          <i class="f_i mober_b"  ></i><br>
            意见反馈
            
        </a>
          <a class="box_a zc fz14"  ui-sref="about_us">
          <i class="f_i mober_c"></i><br>
            关于我们
            
        </a>
          <a class="box_a zc fz14 pr" ui-sref="message_user">
          <i class="f_i mober_d"></i><br>
            消息
            <span ng-if="messageItems<=99 && messageItems>0" class="redDot">{{messageItems}}</span>
            <span ng-if="messageItems>99"  class="mui-badge mui-badge-danger redDot">99+</span>
        </a>
    </section>
    
     <section class="mt10 btm bbm pt10 pm10 bgff">
         <p class="bbm pd pr" ui-sref="activity_user({type: 1})">
            <i class="f_i logo_icon_a"></i>
             <span class="ml10 title_p">我的活动</span>
                 <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
             <a class="box_a fz14 zc"  ui-sref="activity_user({type: 1})">
                <i class="f_i user_icon_p_a"></i><br>
                 待参与
             </a>
                  <a class="box_a fz14 zc" ui-sref="activity_user({type: 2})">
                <i class="f_i user_icon_p_b"></i><br>
                 发起的
             </a>
                  <a class="box_a fz14 zc" ui-sref="activity_user({type: 3})">
                <i class="f_i user_icon_p_c"></i><br>
                 收藏的
             </a>
         </section>
         
    </section>
    
         <section class="mt10 btm bbm pt10 pm10 bgff   ">
         <p class="bbm pd pr" ui-sref="sponsorship_user({type: 1})">
            <i class="f_i logo_icon_a logo_icon_b"></i>
             <span class="ml10 title_p">我的赞助</span>
                 <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
             <a class="box_a fz14 zc"   ui-sref="sponsorship_user({type: 2,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_d"></i><br>
                 赞助的
             </a>
                  <a class="box_a fz14 zc"   ui-sref="sponsorship_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_e"></i><br>
                 发起的
             </a>
                  <a class="box_a fz14 zc"  ui-sref="sponsorship_user({type: 3})">
                <i class="f_i user_icon_p_f"></i><br>
                 收藏的
             </a>
         </section>
         
    </section>
    
    
    
    <section class="mt10 btm bbm pt10 pm10 bgff">
         <p class="bbm pd pr" ui-sref="lous_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
            <i class="f_i logo_icon_a logo_icon_c"></i>
             <span class="ml10 title_p">我的白条</span>
                 <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
             <a class="box_a fz14 zc"   ui-sref="lous_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_a"></i><br>
                 审核中
             </a> 
                  <a class="box_a fz14 zc"   ui-sref="lous_user({type: 2,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_e user_icon_p_e_o"></i><br>
              审核成功
             </a>
                  <a class="box_a fz14 zc"  ui-sref="lous_user({type: 4,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_f user_icon_p_f_p"></i><br>
                 已放款
             </a>
         </section>
         
    </section>

</section>