<!-- 个人中心 -->
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/pages/user.css">
<section>
     <section class="user_top bgff pt10 pm10 pd pr bbm"  ng-click="mySignin('userInfo')">
        <img class="fl user_icon_p yj4" style="width: 55px;height:55px;" ng-src="{{pe_er.user_icon_o.user_icon}}" >
         <section class="ov pl10">
            <p class="fz16 zd mt5" ng-bind="pe_er.user_icon_o.user_name"></p>
            <p class="dianer mt5" ng-if="pe_er.user_icon_o.user_phone">绑定手机：{{pe_er.user_icon_o.user_phone}}</p>
            <p class="dianer mt5" ng-if="!pe_er.user_icon_o.user_phone">未绑定手机号码</p>
         </section>
         <i class="f_i right_arrow"></i>
       <section class="qc"></section>
    </section>
    
     <section class="mt15 btm bbm pt10 bgff">
         <p class="bbm pd pr pt10" ng-click="mySignin('activity_user', {type: 1})">
             <span class="ml10 title_p">我的活动</span>
             <span class="fr pr" style="right: 20px; bottom: 8px;">查看全部活动</span>
                <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
            <a class="box_a fz14 zc" ng-click="mySignin('activity_user', {type: 2})">
                 <p>发起的</p>
                 {{userActivity.activity_count}}
             </a>
             <a class="box_a fz14 zc" ng-click="mySignin('activity_user', {type: 1})">
                 <p>参与的</p>
                 {{userActivity.join_count}}
             </a>
                  <a class="box_a fz14 zc" ng-click="mySignin('activity_user', {type: 3})">
                 <p>收藏的</p>
                 {{userActivity.attention_count}}
             </a>
         </section>
         
    </section>

    <div>
        <ul class="mui-table-view fz14">
            <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ng-click="mySignin('message_user')"><span class="icons icon-message mr10"></span>消息<span class="mui-badge mui-badge-red" ng-if="messageItems>0">{{messageItems}}</span></a>
            </li>
            <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ng-click="mySignin('wallet')"><span class="icons icon-wallet mr10"></span>钱包</a>
            </li>
<!--             <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ng-click="mySignin('wallet')"><span class="icons icon-attention mr10"></span>关注</a>
            </li> -->
            <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ng-click="mySignin('award')"><span class="icons icon-gift mr10"></span>奖品包</a>
            </li>
            <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ui-sref="about_us"><span class="icons icon-aboutUs mr10"></span>关于我们</a>
            </li>
            <li class="mui-table-view-cell vm">
                <a class="mui-navigate-right" ng-click="mySignin('feedback')"><span class="icons icon-feedback mr10"></span>意见反馈</a>
            </li>
        </ul>
    </div>

    <!-- 暂时屏蔽赞助和白条 -->
         <!-- <section class="mt10 btm bbm pt10 pm10 bgff   ">
         <p class="bbm pd pr" ui-sref="sponsorship_user({type: 1})">
            <i class="f_i logo_icon_a logo_icon_b"></i>
             <span class="ml10 title_p">我的赞助</span>
                 <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
             <a class="box_a fz14 zc"   ui-sref="sponsorship_user({type: 2,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_d"></i><br>
                 赞助的
             </a>
                  <a class="box_a fz14 zc"   ui-sref="sponsorship_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_e"></i><br>
                 发起的
             </a>
                  <a class="box_a fz14 zc"  ui-sref="sponsorship_user({type: 3})">
                <i class="f_i user_icon_p_f"></i><br>
                 收藏的
             </a>
         </section>
         
    </section>
    
    
    
    <section class="mt10 btm bbm pt10 pm10 bgff">
         <p class="bbm pd pr" ui-sref="lous_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
            <i class="f_i logo_icon_a logo_icon_c"></i>
             <span class="ml10 title_p">我的白条</span>
                 <i class="f_i right_arrow right_arrow_p"></i>
         </p>
         
         <section class="cen box pt10 pm10">
             <a class="box_a fz14 zc"   ui-sref="lous_user({type: 1,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_a"></i><br>
                 审核中
             </a> 
                  <a class="box_a fz14 zc"   ui-sref="lous_user({type: 2,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_e user_icon_p_e_o"></i><br>
              审核成功
             </a>
                  <a class="box_a fz14 zc"  ui-sref="lous_user({type: 4,user_id:pe_er.user_icon_o.user_id})">
                <i class="f_i user_icon_p_f user_icon_p_f_p"></i><br>
                 已放款
             </a>
         </section>
         
    </section> -->
    <!-- /暂时屏蔽赞助和白条 -->

</section>