<!-- 发起活动添加图片 -->
<meta charset="UTF-8">
<section class="custom_e ">
  <p class="bgff more_set pr mt10" id="choose_poster">
    <a class="mui-navigate-right fz16">上传图片</a>
  </p>
	</section>	
		
  <section class="pd pm10 bgff mt10">
  
     <p class="fz16 pt10  zd pm10" >
                   选择海报
     </p>
     
     	<div id="allurl_d" pulllist callback="paging()"  class="ulact_p nitialize nitialize_eert mt10" ng-click="">
        		<ul> 
        	   		<li  ng-repeat="a_d in allurl_d" class="pd"  ng-click="up_oiu_img(a_d)">
        	   		   <section class="act_banner_top_a pr mb10 pr act_banner_top_a_oior">
	    	   <section class="banner_top_b ">
	    	    	<img ng-src={{a_d}}>
	    	  
	    	   </section>
	    	     	<i class="f_e selected_icon"></i>
	  </section> 
        	   		</li>
        		</ul>
        	</div>
        	
    	
	      	
	  	
  </section>
			
	  <p upimg id="up_img" genre="3"></p>	