<!-- 发起活动 -->
<meta charset="UTF-8">

<section ng-controller="promotional_act_controller" class="dfd_pooui_a">
	<!--发起活动基本设置start-->
	    <section class="activity_base_setting">
	      <p class="fz12 zc pd pt10 pm10 fz14" style="    line-height: 1.6">
	    		  下载APP可以选择收费、报名表单设置，进行会议、活动直播、打赏取现等功能.
	    		 <span class="ls down_span_a yj4 fr fz12"  onclick="down_app()">
	    		  	  下载app
	    		 </span>
	      </p>
	    
	    
	    	<section class="cen">
	    		<img id="re_img" src=""  />
	    	</section>
	    	
		     <ul class="mui-table-view" style="margin-top:0 ;"> 
		          <li class="mui-table-view-cell">
		                <span class="act_left fz16 fl"><span class="green">*</span>活动名称：</span>
		                <p class="ov fl">
		                  <input style="width:auto;" type="text" class="max_klabel_a te_0" placeholder="请填写活动名称" id="name" maxlength="30"/>                 
		                </p>
		                <div class="ov up_load_wrap fr">
		                  	<!-- <span class="up_load_face ml5 mt5"></span> -->
		                  	<div upimg  data-type="1" class="image_ad"></div>
		                  </div>
		                
		          </li>
		         </ul>
		          <ul class="mui-table-view mt10">
		             <li class="mui-table-view-cell pr time" time> 
		                <span class="act_left fz16"><span class="green">*</span>开始时间：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9 ">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动开始时间" id="start_time"  readonly   />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          <li class="mui-table-view-cell pr time" time>
		                <span class="act_left fz16"><span class="green">*</span>结束时间：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动结束时间" id="end_time"  readonly   />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          <li class="mui-table-view-cell pr cat_poiu ctyt_ois"  style="padding-right:0">
		                <span class="act_left fz16"><span class="green">*</span>所在城市：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input city-select style="width:50%" type="text" class="max_klabel_a te_0" placeholder="请选择所在城市"  id="city" readonly    />
		                        <input style="width:47%" type="text" class="max_klabel_a te_0 address" placeholder="填写详细地址" id="address" readonly   />
		                </p>
		                
		          </li>  
		          <li class="mui-table-view-cell pr cat_poiu detailed_address"  style="padding-right:0">
		                <span class="act_left fz16"><span class="green">*</span>详细地址：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                     
		                        <input  type="text" class="max_klabel_a te_0 address" placeholder="填写详细地址" id="address" readonly   />
		                </p>
		                
		          </li>            
		          
		           <!-- <li class="mui-table-view-cell pr select_po" acttpe> 
		                <span class="act_title fz16">活动类型：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动类型" id="type"  />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          
		                <li class="mui-table-view-cell pr select_po_p" industry>
		                <span class="act_title fz16">活动行业：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动所属行业"  id="industry"  readonly />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          
		          
		         
		            
		           
		              <li class="mui-table-view-cell">
		                <span class="act_title fz16 ">联系方式：</span>
		                <p class="ov">
		                  <input type="text" class="max_klabel_a te_0" placeholder="请输入联系方式" id="contact_way"/>
		                </p>
		          </li>
		             <li class="mui-table-view-cell">
		                <span class="act_title fz16">主办方：</span>
		                <p class="ov">
		                  <input type="text" class="max_klabel_a te_0" placeholder="请输入主办方" id="sponsor"/>
		                </p>
		          </li>-->
		      </ul>
		      <p class="pt10 pm10 pd fz16">
		      	  <span class="green">*</span>活动详情
		      	
		      </p>
		        <section class="pr pd bgff">
		      	 <!--  <textarea class="act_poiiu_tr" placeholder="请输入活动详情" id="details" rows="6"></textarea> -->
		             <section id="details"  class="particulars_wer bgff  pt10 pm10 fz14">
		             
		             </section>
		             <section class="btm pt10 pm10 ssd_pooiu zc" data-role="editor-toolbar"
        data-target="#details"> 
		                <i class="fa fa-bold rich_text" data-edit="bold" ng-click="rich_text.blod_a($event)"></i>
		                <i class="fa fa-underline rich_text" data-edit="underline" ng-click="rich_text.blod_a($event)"></i> 
		                <section class="fa fa-font pr" ng-click="rich_text.blod_a($event,2)">
		                   <section class="yj4 po_pooi_s po_pooi_s_wr">
		                    	<p data-edit="forecolor  #C10000" class="rich_text" style="background: #C10000"></p>
		                    	<p data-edit="forecolor  #FF4C40" class="rich_text" style="background: #FF4C40"></p>
		                    	<p data-edit="forecolor  #920783" class="rich_text" style="background: #920783"></p>
		                    	<p data-edit="forecolor  #FF9C00" class="rich_text" style="background: #FF9C00"></p>
		                     	<p data-edit="forecolor  #407600" class="rich_text" style="background: #407600"></p>
		                    	<p data-edit="forecolor  #408080" class="rich_text" style="background: #408080"></p>
		                    	<p data-edit="forecolor  #0070C1" class="rich_text" style="background: #0070C1"></p>
		                    	<p data-edit="forecolor  #004080" class="rich_text" style="background: #004080"></p>
		                    	<p data-edit="forecolor  #808080" class="rich_text" style="background: #808080"></p>
		                    	<p data-edit="forecolor  #000000" class="rich_text" style="background: #000000"></p>
		                  </section>
		                 
		                </section>
		                <section class="fa fa-text-width pr" ng-click="rich_text.blod_a($event,2)">
		                <p class="yj4 po_pooi_s">
		                    	 <a data-edit="fontSize 7" class="rich_text">大</a>
		                  	 <a data-edit="fontSize 3" class="rich_text">中</a>
		                   	 <a data-edit="fontSize 2" class="rich_text">小</a>
		                  </p>
		                
		                </section>
		             </section>
		             
		      
		      	</section> 
		      	<p class="bgff more_set pr mt10 " ng-click="activityBaseSetting()">
					<a  class="mui-navigate-right" >高级设置</a>
				</p>
				<section class="mt60">
				  <p class=" pd cen zd  mui-col-xs-6 fl">
				  
       					<a class="mui-btn register_button fz16" ng-click="promotional.initiate(0)">发布</a>
    				</p>
    				 <p class=" pd cen zd  mui-col-xs-6 fl">
       				<a class="mui-btn register_button fz16 bgyellow" ng-click="promotional.initiate(1)">保存浏览</a>
    				</p>
    			</section>
	    </section>
	<!--发起活动基本设置end-->
	
	<!--发起活动高级设置start-->
	    <section class="activity_more_setting" >
	    	 <p class="more_title">选择类型和标签让更多人看到本活动</p>
	    	 <ul class="mui-table-view mt0">
	    	 	 <li class="mui-table-view-cell">
		                <span class="act_left fz16"><span class="green">*</span>主办方：</span>
		                <p class="ov">
		                  <input type="text" class="max_klabel_a te_0" placeholder="请输入主办方" id="sponsor"/>
		                </p>
		          </li>
		           <li class="mui-table-view-cell">
		                <span class="act_left fz16 "><span class="green">*</span>联系电话：</span>
		                <p class="ov">
		                  <input type="text" class="max_klabel_a te_0" placeholder="请输入联系电话" id="contact_way"/>
		                </p>
		          </li>
		            <li class="mui-table-view-cell pr select_po" acttpe> 
		                <span class="act_left fz16"><span class="green">*</span>活动类型：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动类型" id="type"  />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          
		           
		          
		                <li class="mui-table-view-cell pr select_po_p" industry>
		                <span class="act_left fz16"><span class="green">*</span>活动行业：</span>
		                <p class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                       <input type="text" class="max_klabel_a te_0" placeholder="请选择活动所属行业"  id="industry"  readonly />
		                </p>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		           <li class="mui-table-view-cell pr select_po" ng-click="labelSwitch()"> 
		                <span class="act_left fz16">活动标签</span>
		                <div class="ov dianer pr mui-col-xs-8 mui-col-sm-9">
		                	   <input  class="se_label_tip te_0" type="text"  placeholder="请选择活动标签" />
		                       <p class="close_la" style="color:#a9a9a9;">{{arrLabel_p}}</p>
		                       
		                </div>
		                 <span class="mui-icon mui-icon-arrowdown zc map_icon_a"></span>
		          </li>
		          <section class="pd pt10  bgff ddf_pooxd_a" data-x=1 style="display: none;">
			            <section  ng-repeat="item in ge_type" class="deh_list" finish>
			              <p class="zd fz16 pm5 pl10 tltle_p">{{item.name}}</p>
			              <section class="pomhhgf_we">
			                <section class="pokjhiT_a" ng-repeat="child in item.child_list">
			                    <a class="activitie_label fz14 yj4" data-y="{{child.id}}" ng-bind="child.label_name" ng-click="select_lab($event)"></a>
			                </section>
			              </section>
			              <p class="qc"></p>
			            </section>  
        			</section>
 
 
	    	 </ul>
	    	 <div class="mui-table-view-cell mt10 bgff" >
					<span class="fz16">允许e场景活动推荐</span>
					<div class="mui-switch mui-active" id="mySwitch">
						<div class="mui-switch-handle"></div>
					</div>
				</div>
			<p class="pl15 fz14 green mt10" ng-click="activityMoreSetting()">
				完成设置&nbsp;<span >》</span>
			</p>
	    </section>
	<!--发起活动高级设置end-->
	
		

     <!-- <ul class="mui-table-view ">
             <li class="mui-table-view-cell pr"  ui-sref="custom_form">
                <span class="act_title fz16">报名设置</span>
            
                 <span class="mui-icon mui-icon-arrowright zc map_icon_a"></span>
          </li>
           <li class="mui-table-view-cell pr">
                <span class="act_title fz16">费用设置</span>
             
                 <span class="mui-icon mui-icon-arrowright zc map_icon_a"></span>
          </li>
          
         </ul> -->
      
</section>


