
<link rel="stylesheet" href="/css/pages/user.css">
 <link href="/css/pages/activitie_mark.css" rel="stylesheet">
 <!-- 搜索页 -->
<div>
    <div class="search j-searchForm">
    	<div class="searchType iconfont j-searchType" ng-click="selectType()">活动</div>
    	<ul class="searchTypeList j-searchTypeList" style="display: none;">
    		<li>活动号</li>
            <li>嘉宾号</li>
            <li>媒体号</li>
        <!-- 暂时屏蔽赞助 -->
    		<!-- <li>赞助</li> -->
        <!-- /暂时屏蔽赞助 -->
    	</ul>
    	<p class="searchInput">
    		<input type="text" name="searchName" placeholder="请输入关键字" />
            <i class="iconfont icon-search" ng-click="searchResult()"></i>
    	</p>
    </div>
    <!-- 活动标签 -->
    <div ng-controller="activitie_demand" class="j-activityLabel">
       <section class="pd pt10  bgff ddf_pooxd_a">
            <section  ng-repeat="item in ge_type" class="deh_list" finish>
              <p class="zd fz16 pm5 pl10 tltle_p">{{item.name}}
                <span style="font-weight:bold;position:relative;top:3px;left:5px;" class="ls">+</span>
              </p>
              <section class="pomhhgf_we">
                <section class="pokjhiT_a" ng-repeat="child in item.child_list">
                    <a class="activitie_label fz14 yj4" ng-bind="child.label_name" ng-click="searchActivity(child.id)"></a>
                </section>
              </section>
              <p class="qc"></p>
            </section>  
        </section>
    </div>
    <!-- /活动标签 -->
</div>
<!-- /搜索页 -->