
<link rel="stylesheet" href="/css/pages/user.css">
<!-- 搜索结果页 -->
<div class="search j-searchForm">
	<div class="searchType iconfont j-searchType" ng-click="selectType()">活动</div>
	<ul class="searchTypeList j-searchTypeList" style="display: none;">
		<li>活动号</li>
    <!-- 暂时屏蔽赞助 -->
		<!-- <li>赞助</li> -->
    <!-- /暂时屏蔽赞助 -->
	</ul>
	<p class="searchInput">
		<i class="iconfont icon-search"></i>
		<input type="text" name="searchName" placeholder="请输入关键字" eliminate />
	</p>
	<button type="button" class="mui-btn mui-btn-green searchBtn " ng-click="searchResult()">搜索</button>
</div>


<div >
<!-- 主办方结果 -->
<div id="sponsorList" class="searchResutWrap" pulllist callback="sponsorMore()">
	<ul class="mui-table-view" style="margin-top:0;">
	    <li class="mui-table-view-cell mui-media" ng-repeat="item in sponsorList">
	        <a ui-sref="personal_host({sponsor_user_id:item.user_id})" class="mui-navigate-right">
	            <img class="mui-media-object mui-pull-left sponsorImg" ng-src="{{item.sponsor_icon}}">
	            <div class="mui-media-body">
	                <p class="mui-ellipsis sponsorTitle">{{item.name}}</p>
	                <p><span class="mr10">活动<b class="green fn">{{item.act_sum}}</b>场</span><span>参与<b class="green fn">{{item.sign_sum}}</b>人</span></p>
	            </div>
	        </a>
		</li>
	</ul>
</div>
<!-- /主办方结果 -->
<!-- 活动结果 -->
<div id="activityList" class="searchResutWrap" pulllist callback="activityMore()">
   <ul style="background:#EFEFF4">  
     <li  class="mb10" ng-repeat="list in activityList" finish ui-sref="activity_detail({id:list.id})" >
                 <section class="pd  bgff  pt10 pm10">
      <img ng-src="{{list.activity_first_face}}" class="fl act_user_a">
       <section class="ov pl10 zc fz14">
           <p class="dianer zd  tile_poiu_a" ng-bind="list.activity_title"></p>
            
        <p class="fz12 dian">
        <i  class="f_i map_icon"></i><span ng-bind="list.city_name"></span>
        </p>
           
           <section class="fz12 dian zc">
        <p class="fl"><i class="f_i time_icon"></i><span ng-bind="list.activity_time"></span> </p>
          <a class="fr" ng-if="list.is_free==0">免费</a>
               <span class="fr hs" ng-if="list.is_free==1">收费</span>
          <p class="qc"></p>
        </section>
       
        
       </section>
       <p class="qc"></p>
   </section>
   <!-- 暂时屏蔽赞助 -->
    <!-- <section class="box btm pt5 pm5 fz12 cen zc schedule_p bgff pd">
           <section class="box_a  tl" ng-class="list.skjhg_s">
              <i class="f_i zmkjf_a" ></i>目标金额{{list.target_money}}元
           </section>
            <section class="box_a" ng-class="list.skjhg_s">
             <i class="f_i zmkjf_b"></i>已筹{{list.now_money}}元
           </section>
            <section class="box_a tr" ng-class="list.skjhg_s">
             <i class="f_i zmkjf_c"></i>进度{{list.schedule}}
           </section>
        </section> -->
    <!-- /暂时屏蔽赞助 -->
        
            </li>
</ul>
</div> 
<!-- /活动结果 -->

<!-- 赞助结果 -->
<div id="supportList" class="searchResutWrap" pulllist callback="supportMore()">
	<ul>  
    <li ng-repeat="list in supportList" finish >
        <section class="details_case mt10 bgff pm10 btm details_case_z"  >
          <section class="banner_top_a banner_top_c  bgff prefecture_a">
           <section class="banner_top_b">
              <a ui-sref="sp_details({'id':list.id})">
               <img  ng-src="{{list.covers[0]}}">
               </a>
            </section>
        </section>
        <section class="pd">
            <p class="dianer zd fz16 mt10" ng-bind="list.title"></p>
               
            <p class="mt10">
               目标金额：￥<span class="hs fz18" ng-bind="list.target_amount"></span>
                <span  class="yj4 cf bgls prompt_o fr" ng-class="list.status | supportStatusClass" ng-bind="list.status | supportStatus"></span>
            </p>
            <p class="mt10 progress_bar pr yj4 ov">
               <span class="oiuy_po_n" style="width:{{list.schedule}}">
                
                </span>
            </p>
            <section class="box mt5 ">
              <p class="box_a tl">
                   <span class="fz14">赞助进度</span><br>
                    <span class="hs fz12" ng-bind="list.schedule"></span>
                  
                </p>
                    <p class="box_a cen">
                   <span class="fz14">已筹金额</span><br>
                    <span class="hs fz12" ng-bind="list.now_money"></span>
                  
                </p>
                    <p class="box_a tr">
                   <span class="fz14">剩余天数</span><br>
                    <span class="hs fz12" ng-bind="list.end_time | reduce_time:''"></span>
                  
                </p>
            </section>
        </section>  
    </section>
             
 	</li>
	</ul>
</div>
<!-- /赞助结果 -->

</div>


<!-- /搜索结果页 -->