
<!-- 认证列表 -->
<div show-back-btn>
	<ul>
		<li class="bgff mt10 mb10 p10">
			<div class="green mb10">认证活动号<span class="fr gray fz14">{{auth.activityNumber + 2000}}已认证</span></div>
			<a ng-click="isLogin('activity_auth')">
				<div class="box">
					<div class="box_a mr10"><img class="icon130x60" src="/img/others/activity_auth.png" alt="活动号"></div>
					<div class="box_a">
						<p class="fz12">主办方主页平台展示</p>
						<p class="fz12">收费/打赏/赞助/直播等高级功能</p>
						<p class="fz12">e场景云屏签到机活动支持</p>
					</div>
				</div>
				<div class="green tc fz14 mt10 pt10" style="border-top: 1px solid #e0e0e0;">立即认证&gt;</div>
			</a>
		</li>
		<li class="bgff mt10 mb10 p10">
			<div class="green mb10">认证嘉宾号<span class="fr gray fz14">{{auth.guestNumber + 1500}}已认证</span></div>
			<a ng-click="isLogin('guest_auth')">
				<div class="box">
					<div class="box_a mr10"><img class="icon130x60" src="/img/others/guest_auth.png" alt="嘉宾号"></div>
					<div class="box_a">
						<p class="fz12">我是行业精英/大咖/红人</p>
						<p class="fz12">我想发布/我要分享/我有话说</p>
						<p class="fz12">e场景活动平台签约活动嘉宾</p>
					</div>
				</div>
				<div class="green tc fz14 mt10 pt10" style="border-top: 1px solid #e0e0e0;">立即认证&gt;</div>
			</a>
		</li>
		<li class="bgff mt10 mb10 p10">
			<div class="green mb10">认证媒体号<span class="fr gray fz14">{{auth.mediaNumber + 150}}已认证</span></div>
			<a ng-click="isLogin('media_auth')">
				<div class="box">
					<div class="box_a mr10"><img class="icon130x60" src="/img/others/media_auth.png" alt="媒体号"></div>
					<div class="box_a">
						<p class="fz12">我是电台/卫视/媒体/自媒体</p>
						<p class="fz12">我想提供媒体支持</p>
						<p class="fz12">e场景活动平台签约媒体号</p>
					</div>
				</div>
				<div class="green tc fz14 mt10 pt10" style="border-top: 1px solid #e0e0e0;">立即认证&gt;</div>
			</a>
		</li>
	</ul>
	
	
</div>
<!-- /认证列表 -->