
<meta charset="UTF-8">
<section class="pd pt10  bgff ddf_pooxd_a">
		    <a class="activitie_label fz14 yj4"  ng-repeat="ty in ge_type" ng-bind="ty.type_name" ui-sref="demand_list" >
		      
		    </a>
		
		    <p class="qc"></p>
		</section>
		
		<section class="pd mt10 bgff pt10 pm10 poiuyt_sf">
           <p class="mui-col-xs-8 fl fz12">
               活动号可以拥有活动号粉丝群 可以发起话题，了解并壮大您的粉色群
               
           </p>
                <p class="mui-col-xs-4 fl df_renzs pr tr pr10"> 
                      <button class="mui-btn mui-btn-success fz12 " ng-click="isLogin('activity_auth')">认证活动号</button>
                       <i class="mui-icon mui-icon-arrowright zc"></i>
                    
                </p> 
                <p class="qc"></p>
		 
		    
		</section>
