
<meta charset="UTF-8">
 <link href="/css/pages/activitie_mark.css?v=17" rel="stylesheet">
<section class="pd pt10  bgff ddf_pooxd_a">
           <section  ng-repeat="ty in ge_type" class="deh_list" finish>
             	 <p  class="zd fz16 pm5 pl10 tltle_p">{{ty.name}}<span style="font-weight:bold;position:relative;top:3px;left:5px;" class="ls">+</span></p>
                 <section class="pomhhgf_we">
             	 <section class="pokjhiT_a" ng-repeat="tuiou in ty.child_list">
             		<a class="activitie_label fz14 yj4"   ng-bind="tuiou.label_name" ng-click="gp_list(tuiou.id)">
		      
		   		 </a>
             	 </section>
             	 </section>
               <p class="qc"></p>
		 </section>   
		
		   
		</section>
		
 		<section class="pd mt10 bgff pt10 pm10 poiuyt_sf mt32">
           <p class="fz12">
        1、认证为活动号可以在APP端开启直播功能；<br>
2、让用户在活动号列表中查看您的企业与活动信息；<br>
3、有属于您自已的主页；<br>
4、可以有您的活动群聊等等。<br>
未来还有很多服务等着您，快加入平台活动号吧！
      </p>
        <p class="df_renzs pr tc pr10  pt10 mt10"  style="border-top: 1px solid #e0e0e0;color:#fff;background:#4ea45d;padding-bottom:10px"  ng-click="isLogin('activity_auth')"> 认证活动号</p> 
         <p class="qc"></p>
		</section> 
		
		
		<section class="pd mt10 bgff pt10 pm10 poiuyt_sf_p mt32">
           <p class="mui-col-xs-12 fl fz12">
          您认证了活动号，可以获得打赏、票券、广告等活动收益，下版本即开通活动号粉丝群，您可以拥有平台带给您的粉丝群了......
               
           </p>
                
                <p class="qc"></p>
		 
		    
		</section>
