    
    <!-- 主办方认证 -->
    <!-- 获取主办方当前状态（0表示编辑表单，1表示成功，2表示失败，3表示等待审核） -->
    <link href="/css/pages/user.css" rel="stylesheet">
    <!-- 编辑表单 -->
    <form ng-if="status==0" class="j-sponsorAuthForm">
        <div class="mui-input-group">
            <div class="mui-input-row">
                <label>主办方单位</label>
            <input type="text" name="name" class="mui-input-clear" placeholder="请输入主办方单位名称" data-empty="请输入主办方单位名称" />
            </div>
            <div class="mui-input-row">
                <label>联系人</label>
                <input type="text" name="contacter" class="mui-input-clear" placeholder="请输入您的姓名" data-empty="请输入您的姓名" />
            </div>
            <div class="mui-input-row">
                <label>联系方式</label>
                <input type="text" name="contacter_phone" class="mui-input-clear" placeholder="请输入您的联系方式" data-empty="请输入您的联系方式" format-phone />
            </div>
        </div>
        <div class="mt15">
            <p class="pd pm10 zd fz14">主办方简介</p>
            <textarea rows="3" name="introduction"  placeholder="请简单介绍主办方（限150字）" data-empty="请输入主办方简介" max-length="150"></textarea>
        </div>
        <submit-button action="/sponsor/add_or_update_apply_sponsor" text="提交审核" form=".j-sponsorAuthForm" callback="route()"></submit-button>
    </form>
    <!-- /编辑表单 -->
    <!-- 成功 -->
    <div ng-if="status==1">
        <ul class="p10">
            <li class="mt20"><span class="gray">主办方单位：</span>{{sponsor.name}}</li>
            <li class="mt20"><span class="gray">联系人：</span>{{sponsor.contacter}}</li>
            <li class="mt20"><span class="gray">联系电话：</span>{{sponsor.contacter_phone}}</li>
            <li class="mt20"><span class="gray">主办方简介：</span>{{sponsor.introduction}}</li>
        </ul>
        <p class="mt30 pd cen zd">
            <span class="mui-btn register_button fz18" back-button>确定</span>     
        </p>
        <p class="mt20 pl10 fz16">认证信息错误或修改请联系<a ng-href="tel:400-046-1388" class="green">400-046-1388</a></p>
    </div>
    <!-- /成功 -->
    <!-- 失败 -->
    <div ng-if="status==2">
        <div class="tc gray mt30 fz20"><img class="mr10" src="/img/face_fail.png" alt="失败">认证失败！</div>
        <p class="tc mt20" ng-bind="sponsor.failInfo"></p>
        <p class="mt30 pd cen zd">
            <a class="mui-btn mui-btn-green mui-btn-block fz18" ng-click="reSponsorAuth()">重新填写</a>  
            <button class="mui-btn mui-btn-outlined mui-btn-block fz18 mt15" back-button>确定</button>       
        </p>
    </div>
    <!-- /失败 -->
    <!-- 等待审核 -->
    <div ng-if="status==3">
        <div class="tc mt30 fz20"><img class="mr20" src="/img/waiting.png" alt="成功">审核中...</div>
        <p class="tc mt30 fz16">申请结果将会在24小时内反馈。请耐心等待！</p>
        <p class="mt30 pd cen zd">
            <a class="mui-btn register_button fz18" back-button>确定</a>     
        </p>
    </div>
    <!-- /等待审核 -->
    <!-- /主办方认证 -->  
    