<!-- 加号进来的页面 -->
<meta charset="UTF-8">
<section ng-controller="add_page_controller">

	<nav class="app-top-sav">
		<div class="app-center-top"></div>
	</nav>


	<ul id="content" class="app-center-maincont">
		<li ng-click="isLogin('promotional_act')">
			<div class="app-center-fqhd"></div>
			<p>发起活动</p>
		</li>
		<!-- 	<li>
			<div class="app-center-person" data-src=""></div>
			<p>发起投票</p>
		</li> -->
		<!-- 	<li>
			<div  class="app-center-hdxc" data-src="/activity/activityTypeSkip?type=8"></div>
			<p>发起文章</p> 	
		</li> -->
		<!-- ui-sref="sponsorship" -->
		<li ui-sref="sponsorship">
			<div class="app-center-sqzc" data-src=""
				ng-click="isLogin('sponsorship')"></div>
			<p>申请赞助</p>
		</li>
	</ul>

	<p class="cen-hint">电脑端发起活动更加便捷，请在电脑浏览器中输入</p>
	<p class="cen-hint">www.apptown.cn</p>
</section>