<!-- 活动主页 -->
<meta charset="UTF-8">
<section ng-controller="index_controller">
<!-- <section class="banner_top_a">
<section class="swiper-container banner_top_b banner_top_b_banner">
  <section class="swiper-wrapper">
    <section class="swiper-slide" ng-repeat="banner in act_index.banner_index">
      <a   ui-sref="activity_detail({id:banner.id})">
              <img ng-src="{{banner.banner_url[0]}}"  class="lazy"></a>
      </section> 
  </section>
  <section class="swiper-pagination"></section>
</section>
 </section> -->
  
  <section swift banner='/activity/banner_activity' ulr="1"></section> 
  <div class="downApp" onclick="down_app()"><img src="/img/index/downloadApp.png" alt="下载app图"></div>
  <div class="close-downApp" onclick="closeDownApp()"></div>
 
 
    <!-- 暂时屏蔽掉! -->
    <!--<section class="box cen pt5 pm5 bgff">
       <p class="box_a ls">
          <span class="fz16">赞助金额</span><br>
           <span class="datanum" data-param="sponsor_sum" ></span>
        </p>
         <p class="box_a ls">
          <span class="fz16">会员</span><br>
               <span class="datanum"  data-param="user_sum" ></span>
        </p>
         <p class="box_a ls">
          <span class="fz16">活动数</span><br>
           <span class="datanum"  data-param="activity_sum" ></span>
        </p>
    </section>-->
    

    <section class="box home_page_icon pt5 pm5 mt10">
        <a class="box_a" ui-sref="activities_list({activityTypeId:1})">
           <i class="f_i home_page_icon_a"></i><br>
           商会场馆
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:2})">
           <i class="f_i home_page_icon_b"></i><br>
           创业投资
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:3})">
           <i class="f_i home_page_icon_c"></i><br>
           亲子教育
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:4})">
           <i class="f_i home_page_icon_d"></i><br>
           金融财经
        </a>
        
    </section> 
    
        <section class="box home_page_icon pt5 pm5">
        <a class="box_a" ui-sref="activities_list({activityTypeId:5,reload:true})">
           <i class="f_i home_page_icon_e"></i><br>
           精品课程
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:6})">
           <i class="f_i home_page_icon_f"></i><br>
           休闲户外
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:7})">
           <i class="f_i home_page_icon_g"></i><br>
           娱乐艺术
        </a>
         <a class="box_a" ui-sref="activities_list({activityTypeId:0})">
           <i class="f_i home_page_icon_h"></i><br>
           全部活动
        </a>
        
    </section>
     
     <section class="indexAd box">
      <p class="box_a mr5" ui-sref="finance_loan">
      	         <img src="/img/ad_lous_p.png" alt="e场景白条" >
      </p>
       <p class="box_a pl5" ui-sref="activitie_demand">
       <img   src="/img/Advertising-chart.png"> 

       </p>
     
  </section>
  <div  ui-sref="auth_list"><img style="width: 100%;margin-top:5px;" src="/img/index/authentication_1.png" alt="活动号嘉宾号媒体号认证"></div>
  
    <!-- 暂时屏蔽白条 -->
    <!-- <section class="indexAd box">
      <p class="box_a mr10">
      	         <img src="/img/ad_lous.png" alt="e场景白条" ng-click="adLoan()">
      </p>
       <p class="box_a pl5">
       <img  src="http://resource.apptown.cn/share/xow.png" alt="希鸥网会议"  data-href="http://m.apptown.cn/index.html#/activity_detail/7257">

       </p>
     
  </section> -->
   <!-- /暂时屏蔽白条 -->
    
    
    
    <section class="details_case mt10 bgff " ng-repeat="hot in act_index.activity_hot">

         <section class="name_icon pd">
             <img ng-src="{{hot.sponsorImageUrl}}">
             <p class="pd dian ng-binding" ng-bind="hot.sponsorName"></p>
        </section>
          <section class="banner_top_a banner_top_c mt10 bgff prefecture_a">
           <section class="banner_top_b">
              <a ui-sref="activity_detail({id:hot.id})">
              	 <img  ng-src="{{hot.activity_first_face}}">
               </a>
            </section>
        </section>
        <section class="pd">
            <p class="dianer zd fz14 mt10" ng-bind="hot.activity_title" ui-sref="activity_detail({id:hot.id})"></p>
               <p class="fz12 dian mt10">
                <i class="f_i map_icon"></i>{{hot.activity_address}}
                </p>
              <section class="fz12 dian zc pm5">
                <span class="fl"><i class="f_i time_icon"></i><span ng-bind="hot.activity_time"></span> </span>
                  <p class="fr"><span class="hs">{{hot.browse_count}}</span>浏览</p>
                  <p class="qc"></p>
                </section>
                
                
        </section>
        <!-- 
        <section class="box btm pt5 pm5 fz12 cen zc schedule_p pd">
                   <section class="box_a  tl" ng-class="hot.skjhg_s">
                      <i class="f_i zmkjf_a"></i>目标金额{{hot.target_money}}元
                   </section>
                    <section class="box_a" ng-class="hot.skjhg_s">
                     <i class="f_i zmkjf_b"></i>已筹{{hot.now_money}}元
                   </section>
                    <section class="box_a  tr" ng-class="hot.skjhg_s">
                     <i class="f_i zmkjf_c"></i>进度{{hot.schedule}}
                   </section>
        </section> -->
        
    </section>
        

<p class=" bgff pt10 pm10 cen paging_list mt10"  ng-click="Hot_load()" ng-if="load_l">
		<a class="ls">
			查看更多 <span class="mui-icon mui-icon-arrowdown fz16"></span>
		</a>
	</p>
<p class=" bgff pt10 pm10 cen paging_list mt10"  ng-click="Hot_load()" ng-if="!load_l">
		<a class="zc">
			没有数据了...
		</a>
	</p>
    
    </section>
    
    
    
     
    
    <!--底部悬浮引导下载-->
<!-- <section class="guide_Download" id="guide_Download" style="z-index: 9999">
  <section class="guide_K">
    <a  class="down" ontouchstart=""  onclick="_guide_DownloadClose._init()">
      <img class="icon_logo_mh2" src="http://resource.apptown.cn/poster/app_down.png">
      <strong onclick="down_app()">立即下载</strong>
    </a>
    <a href="javascript:void(0)" onclick="_guide_DownloadClose._init()" title="关闭" class="close" ontouchstart=""></a>
  </section>
</section>	 -->
    
