/*发起活动*/
.mui-content {
				height: 0px;
				margin: 0px;
				background-color: #efeff4;
			}
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
		
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}

.max_klabel_a{
	border: 0px;
	padding-top: 3px;
}
.act_poiiu_tr{
	height: 160px;
	border-radius: 0px;
	text-indent: 0px;
}
.tyut_po{
	line-height: 1.6;
}
.tyut_po_a{
	line-height: 1.8;
}  

.mui-poppicker,.mui-popover-action{
	z-index:99999
}
.passord_normal {
	height:auto !important;
	padding:0 !important;
	margin-bottom:0 !important;
	border:none !important;
}