/*发起活动*/
.mui-content {
				height: 0px;
				margin: 0px;
				background-color: #efeff4;
			}
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
		
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}

.max_klabel_a{
	border: 0px;
	padding-top: 3px;
}
.act_poiiu_tr{
	height: 160px;
	border-radius: 0px;
	text-indent: 0px;
}
.tyut_po{
	line-height: 1.6;
}
.tyut_po_a{
	line-height: 1.8;
}  

.mui-poppicker,.mui-popover-action{
	z-index:99999
}
.passord_normal {
	height:auto !important;
	padding:0 !important;
	margin-bottom:0 !important;
	border:none !important;
}
/* 产品反馈的问题修复 */
.dfd_pooui_a .fz16,.dfd_pooui_a input,.dfd_pooui_a  textarea,.j-sponsorAuthForm input,.j-sponsorAuthForm textarea{
	font-size:14px  !important
}
.j-sponsorAuthForm textarea{
	text-indent: 0px;
}
.dfd_pooui_a .map_icon_a{
	font-size:16px  !important
}

.mui-page-content-po .mui-table-view-cell{
	    padding: 11px 15px;
}
.mui-page-content-po li a{
	font-size:14px  !important
}
.ico_person_one{
	padding-top:8px !important;
}
.pt3{
	padding-top:3px 
}
.pm3{
	padding-bottom:3px 
}
.j-signinForm input{
	text-indent: 0px;
	font-size:14px;
}
.signin .division span{
	background: #EFEFF4 !important
}
.dfd_pooic .fr{
	margin-top:5px;
}
.up_load_face {
	display: inline-block;
	width:18px;
	height:18px;
	background:url(../../img/xbt.png) no-repeat -148px -624px;
	background-size: 360px;
}

.up_load_wrap {
	border-left:1px solid #4EA45D;
}
.upload_img {
	position: absolute;
    left: 15px;
    bottom: 25px;
    width: 17px;
    height: 17px;
    background: url(../../img/xbt.png) no-repeat -148px -657px;
    background-size: 360px;
}
.more_set {	
	padding: 11px 15px;
	background-color: #fff;
}
.more_set a {
	color:#000;
}
.more_title {
	line-height:25px;
	height:25px;
	color:#878787;
	text-align: center;
	font-size: 12px;
}
.activity_more_setting {
	display: none;
}
.pokjhiT_a {
    width: 33.3%;
    float: left;
    text-align: center;
    height: 37px;
}
.ddf_pooxd_a a {
    padding: 3px 8px;
    padding: 3px 8px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    color: #575757;
}
.ddf_pooxd_a .active {
    padding: 3px 8px;
    padding: 3px 8px;
    border: 1px solid #4EA45D;
    background: #fff;
    color: #4EA45D;
}
#re_img {
	max-height: 200px;
	max-width: 100%;
	width: 100%;
}


